<header>
        <ul class="navigation">
            <li>
                <h1>Schopnosti</h1>
                <a href="schopnosti"><img class="imgs" src="/images/schopnosti.png" alt="schopnosti obrazok"></a>
            </li>
            <li>
                <h1>Postava</h1>
                <a href="postava"><img class="imgs" src="/images/postava.png" alt="postava obrazok"></a>
            </li>
            <li>
                <h1>Adventura</h1>
                <a href="adventura"><img class="imgs" src="/images/mapa.png" alt="adventura obrazok"></a>
            </li>
        </ul>
    </header>
